@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype'); 
}
body{
    width: 100%;
    height: 3857px;
    padding: 0px;
    margin-top: -16px;
    margin-left: -5px;
}


/* fixed nav */
.fixed_nav{
    display: flex;
    width: 100%;
    height: 150px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(16.850000381469727px);
    position: fixed;
    top: 0px;
    align-items: center;
    z-index: 2;
}
.nav_img{
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 130px;
    border: 1px solid #B4A393;
    background: url(assets/img_tocken.jpg) lightgray 50% / cover no-repeat;
}

.left_obj{
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.right_obj{
    display: flex;
    margin-left: 850px;
    position: absolute;
    right: 0;
}

.left_obj h2{
    color: #201F20;
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.underline-one {
    color: #000;
    font-family: 'Montserrat';
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 30px;
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
.underline-one:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.underline-one:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: red; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}


/* stage 1 */

.stage_one{
    background: linear-gradient(173deg, #DDC2A6 41.52%, #DFAA6E 91.25%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1101px;
    margin-top: -20px;

}

.stage_one img{
    width: 511px;
    height: 511px;
    flex-shrink: 0;
    border-radius: 307px;
    border: 11px solid #DD6D62;
    background: url(assets/img_tocken.jpg) lightgray 50% / cover no-repeat;
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.08);
    margin-left: 20px;
}

.stage_one p{
    color: #201F20;
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



/* stage 2 */
.stage_two{
    width: 100%;
    height: 1213px;
    flex-shrink: 0;
    background: #DFAA6E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

.stage_two h1{
    color: #383330;
    font-family: Montserrat;
    font-size: 88px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.stage_two li{
    color: #383330;
    font-family: Montserrat;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.stage_two img{
    width: 700px;
    margin-top: 100px;
}

.stage_two_txt{
    margin-top: -200px;
}


/* stage 3 */
.stage_three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1800px;
    flex-shrink: 0;
    background: radial-gradient(115.14% 62.61% at 52.18% -6.46%, #DFAA6E 0%, #DDC2A6 100%);
}

.stage_three_txt{
    color: #383330;
    font-family: 'Montserrat';
    font-size: 88px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -260px;
}
.top_rec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}

.rec{
    border-radius: 85px;
    border: 1px solid #000;
    background: rgba(217, 217, 217, 0.00);
    width: 480px;
    height: 250px;
    flex-shrink: 0;
    text-align: center;
    transition: transform 0.3s;
}

.line{
    width: 70px;
    height: 1px;

}

.vert_line{
    width: 1px;
    height: 70px;

}

.txt_rec{
    color: #383330;
    font-family: 'Montserrat';
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rec p{
    color: #383330;
    font-family: 'Montserrat';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -20px;
}

/* stage 4 */
.stage_four{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 300px;
}

.stage_four h1{
    color: #383330;
    font-family: Montserrat;
    font-size: 88px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.group_circle{
    display: flex;
    margin-left: -20px;
}


.circle{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

#one{
    border-radius: 193px;
    background: #FC7643;
    box-shadow: 3px 6px 0px 0px #000;
}

#two{
    border-radius: 172px;
    background: #383330;
    box-shadow: 3px 6px 0px 0px #000;
}

#three{
    border-radius: 172px;
    background: #c4a17f;
    box-shadow: 3px 6px 0px 0px #000;
}

.stage_four_img{
    width: 85px;
    height: 85px;
    flex-shrink: 0;
}


.rec:hover {
    transform: scale(1.2);
}


/* blur and metka */
.metka{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 1090px;
    background: rgba(217, 217, 217, 0.01);
    
}

.blur_rec_one{
    width: 100%;
    height: 150px;
    flex-shrink: 0;
    position: absolute;
    top: 900px;
    background: rgba(217, 217, 217, 0.01);
    backdrop-filter: blur(70px);
    z-index: 1;
}

.blur_rec_two{
    width: 100%;
    height: 150px;
    flex-shrink: 0;
    position: absolute;
    top: 2100px;
    background: rgba(217, 217, 217, 0.01);
    backdrop-filter: blur(70px);
    z-index: 1;
}

.visible_nav{
    display: none;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 400px) {
    body{
        height: 1700px;
    }
    .fixed_nav{
        display: none;
    }

    .visible_nav{
        display: block;
        color: #201F20;
        font-family: 'Montserrat', sans-serif;
        font-size: 54px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    /* stage 1 */
    .stage_one{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 500px;
    }

    .stage_one img{
        width: 100px;
        height: 100px;
        margin-right: 10px;
        margin-bottom: 100px;
    }

    .stage_one p{
        font-size: 17px;
        margin-left: 20px;
        
    }

    /* stage 2 */
    .stage_two{
        height: 400px;
        flex-direction: column-reverse;
        margin-top: -100px;
    }
    .stage_two_txt h1{
        font-size: 20px;
        text-align: center;
    }
    .stage_two_txt li{
        font-size: 12px;
    }
    .stage_two_txt{
        margin-top: 0px;
    }
    .stage_two img{
        width: 225px;
        margin-left: 20px;
        margin-top: -0px;
    }


    /* stage 3 */
    .stage_three{
        display: flex;
        height: 950px;
    }
    
    .stage_three_txt{
        font-size: 20px;
        margin-top: 0px;
    }
    .top_rec{
        display: block;
        
    }
    
    .rec{
        width: 250px;
        height: 100px;
        margin-bottom: 30px;
    }
    
    .line{
        display: none;
    }
    
    .vert_line{
        display: none;
    }
    
    .txt_rec{
        font-size: 15px;
    }
    
    .rec p{
        font-size: 11px;
        margin-top: 0px;
    }
    /* stage 4 */
    
    .stage_four{
        margin-top: 0px;
    }
    
    .stage_four h1{
        font-size: 20px;
    }
    .group_circle{
        flex-direction: column;
    }
    
    .circle{
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .stage_four_img{
        width: 40px;
        height: 40px;
        flex-shrink: 0;
    }
    

    /* blur */
    .blur_rec_one{
        height: 50px;
        top: 360px;
    }
    .blur_rec_two{
        height: 50px;
        top: 740px;
    }
}